/* body, div, header, nav, h1, h2, a{
    margin: 0;
    padding: 0;
} */

.get_started{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.lightgray{
    background-color: #ececec;
}
.lightblue{
    background-color: #e9edf1;
}